* {
    margin:0;
    padding:0;
}

/*header*/

#header {
    background-color:#1f2833;
}

.headimage {
    float: left;
    width:150px;
    height:150px;
    margin-top: 40px;
    margin-right: 20px;
}

#title {
    font-family: 'Reenie Beanie', italic;
    font-size:130px;
    font-weight: bold;
    text-align: left;
    position: relative;
    color: #fffef2;
}

#sub-head {
    font-family: 'Reenie Beanie', italic;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #fffdd0;
    padding-bottom: 10px;
}

/*navbar*/

.navigation {
    background-color: #af69ef;
}

.text {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #fffef2;
    text-decoration: none;
    vertical-align: center;
}

.active, .text:hover {
    color:#1f2833;
}

@media(max-width:640px) {
    .headimage {
        display:none;
    }
}

@media(max-width:640px) {
    #title {
        font-size: 100px;
        text-align: center;
    }
}

@media(max-width:640px) {
    #sub-head {
        font-size: 30px;
    }
}


/*index.html*/

.are-you {
    background-color: #fffdd0;
}

.dog {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
}


.title {
    font-family: 'Reenie Beanie', italic;
    font-size:130px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #1f2833;
}

.circle-container{
    background-color: #1f2833;
    border-radius: 50%;
    height:150px;
    width: 150px;
    text-align: center;
    color: #fffdd0;
    font-weight: bold;
    font-size: relative-size;
    line-height: 150px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.yes {
    font-family: 'Reenie Beanie', italic;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.did-you-know {
    background-color: #fffef2;
    position: relative;
}

.rat {
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    height: 500px;
    width: 500px;
}

@media(max-width:640px) {
    .dog, .rat {
        display: none;
    }
}

/*footer*/

#footer {
    background-color: #1f2833;
    height: 300px;
}

.guinea {
    position: relative;
    margin-top: 25px;
    height: 100%;
    width: 100%;
    background: url("/assets/images/guineapigs1.jpg") no-repeat;
    background-size: contain;
}

.husky {
    position: relative;
    margin-top: 25px;
    height: 100%;
    width: 100%;
    background: url("/assets/images/husky1.jpg") no-repeat;
    background-size: contain;
}

.turkey {
    position: relative;
    margin-top: 25px;
    height: 100%;
    width: 100%;
    background: url("/assets/images/turkey1.jpg") no-repeat;
    background-size: contain;
}

.rescue-type {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fffdd0;
}

.rescue-info {
    font-size:15px;
    text-align: center;
    padding: 10px;
    color: #fffdd0;
    margin: 10px;
}

.footer-logo {
    text-align: center;
    color: #fffdd0;
}

.footer-logo i {
    color:#fffef2;
    font-size: 20px;
    text-align: center;
}

.footer-logo i:hover {
    color: #af69ef;
}

@media(max-width:640px) {
    .rescue-info{
        display:none;
    }
}

@media(max-width:640px) {
    #footer{
        height: 150px;
    }
}

@media(max-width:640px) {
    .rescue-type {
        font-size: 15px;
    }
}

@media(max-width:640px) {
    br {
        display: none;
    }
}